# Logs
logs
*.Logs
npm-debug.log

# Compiled directory and file
build/
bundle.js

# Dependency directories
node_modules/
node_modules/*

#
/react-client/dist/bundle.js
webpack.config.js
webpack.config.*
